{{ define "main" }}
<main>
    <section class="responsive">
        <h1 class="accentline">Photos</h1>
        <div class="mt-5">
            {{ .Content }}
            <br>
            <div class="alert alert-red">
                <i class="text-2xl fa-solid fa-triangle-exclamation fa-fw"></i>
                <span class="title-6">Photo Licensing Suspended</span>
                <p class="content">
                    Licensing of Hexandcube's photos has been temporarily suspended until further notice. The content is protected by applicable copyright laws, and all rights are reserved.
                    Photos can be downloaded and used for personal, private use only, as outlined in the <a class="link" href="/terms#download-and-use-of-content">"Download and use of Content" section of the Terms and Conditions</a>. 

                    Previously licensed photos can still be used according to the terms of the license. 
                </p>
            </div>
        </div>
    </section>
    <section class="responsive py-8 grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-3 gap-4">
        {{ $paginator := .Paginate (sort .Pages "Params.date" "desc" ) }}
        {{ range $paginator.Pages }}
        <a href="{{ .RelPermalink }}"
            class="col-span-1 border-2 block border-light-border-primary dark:border-dark-border-primary rounded-2xl bg-light-bg-l1 dark:bg-dark-bg-l1 hover:bg-light-cta-hover dark:hover:bg-dark-cta-hover hover:rounded-3xl overflow-clip">
            <img src="https://files.hexandcube.eu.org/photos/thumbnails/hexandcube-{{ .Params.id }}.jpg"
                alt="{{ .Params.title }}" class="object-cover w-full h-[250px]">
            <div class="p-5">
                <b class="text-3xl">{{ .Params.title }}</b>
                <p>{{ .Params.PublishDate.Format "January 2, 2006" }} {{ with .Params.Camera }} &middot; {{ . }}{{ end }}</p>
            </div>
        </a>
        {{ end }}
    </section>
    <section class="responsive content">
        {{ partial "support.html" . }}
    </section>
    {{ partial "pagination.html" . }}
</main>
{{ end }}