{{ define "main" }}
<main>
    <section class="responsive">
        <h1 class="accentline">Photos</h1>
        <p class="mt-5">Here you can find all of the photos I've ever shared online. Most of them are free to use. Please check the license before using, Thanks!</p>
    </section>
    <section class="responsive py-8 grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-3 gap-4">
        {{ $paginator := .Paginate (sort .Pages "Params.date" "desc" ) }}
        {{ range $paginator.Pages }}
        <a href="{{ .RelPermalink }}"
            class="col-span-1 border-2 block border-light-border dark:border-dark-border rounded-2xl bg-light-secondary-bg dark:bg-dark-secondary-bg hover:bg-light-border dark:hover:bg-dark-border hover:rounded-3xl overflow-clip">
            <img src="https://files.hexandcube.eu.org/photos/thumbnails/hexandcube-{{ .Params.id }}.jpg"
                alt="{{ .Params.title }}" class="object-cover w-full h-[250px]">
            <div class="p-5">
                <b class="text-3xl">{{ .Params.title }}</b>
                <p>{{ .Params.PublishDate.Format "January 2, 2006" }} {{ with .Params.Camera }} &middot; {{ . }}{{ end }}</p>
            </div>
        </a>
        {{ end }}
    </section>
    {{ partial "pagination.html" . }}
</main>
{{ end }}