{{ define "main" }}
<main>
    <section class="bg-light-secondary-bg dark:bg-dark-secondary-bg responsive pt-8 pb-2 md:py-14 grid md:grid-cols-4">
        <div class="col-span-3">
            <h1 class="accentline">{{ .Title }}</h1>
            {{ with .Description}}
            <p class="mt-5">{{ . }}</p>
            {{ end }}
        </div>
        {{ if .Params.disableDownloads}}
        {{ else }}
            <div class="leading-default text-light-grey dark:text-dark-grey md:text-right mt-5">
                <a href="https://files.hexandcube.eu.org/photos/hexandcube-{{ .Params.id }}.jpg"
                    class="btn btn-primary text-xl"><i class="fa-solid fa-download"></i> Download</a>
            </div>
        {{ end }}
    </section>
    <section
        class="bg-light-secondary-bg dark:bg-dark-secondary-bg responsive py-4 grid top-0
        md:grid-cols-5 gap-y-1">
        <div class="leading-default text-light-grey dark:text-dark-grey mb-2">
            <i class="fa-solid fa-user fa-fw"></i> Author: <br class="hidden md:block"><b class="text-light-text dark:text-dark-text">Hexandcube</b>
        </div>

        <div class="leading-default text-light-grey dark:text-dark-grey mb-2">
            <i class="fa-solid fa-section fa-fw"></i> License: <br class="hidden md:block"><a href="{{ .Params.licenseUrl }}"><b class="text-light-text dark:text-dark-text underline">{{ .Params.license }}</b></a>
        </div>

        {{ with .Params.Date }}
            <div class="leading-default text-light-grey dark:text-dark-grey mb-2">
                <i class="fa-solid fa-calendar fa-fw"></i> Date Taken: <br class="hidden md:block"><b
                    class="text-light-text dark:text-dark-text capitalize">{{ .Format "January 2, 2006" }}</b>
            </div>
        {{ end }}

        {{ with .Params.resolution }}
        <div class="leading-default text-light-grey dark:text-dark-grey mb-2">
            <i class="fa-solid fa-maximize fa-fw"></i> Resolution: <br class="hidden md:block"><b
                class="text-light-text dark:text-dark-text">{{ . }}</b>
        </div>
        {{ end }}
        
        {{ with .Params.camera }}
        <div class="leading-default text-light-grey dark:text-dark-grey mb-2">
            <i class="fa-solid fa-camera fa-fw"></i> Camera: <br class="hidden md:block"><b
                class="text-light-text dark:text-dark-text capitalize">{{ . }}</b>
        </div>
        {{ end }}

        {{ with .Params.lens }}
        <div class="leading-default text-light-grey dark:text-dark-grey mb-2">
            <i class="fa-solid fa-eye fa-fw"></i> Lens: <br class="hidden md:block"><b
                class="text-light-text dark:text-dark-text capitalize">{{ . }}</b>
        </div>
        {{ end }}

        {{ with .Params.iso }}
        <div class="leading-default text-light-grey dark:text-dark-grey mb-2">
            <i class="fa-solid fa-lightbulb fa-fw"></i> ISO: <br class="hidden md:block"><b
                class="text-light-text dark:text-dark-text capitalize">ISO{{ . }}</b>
        </div>
        {{ end }}
        
        {{ with .Params.focalLength }}
        <div class="leading-default text-light-grey dark:text-dark-grey mb-2">
            <i class="fa-solid fa-ruler-combined fa-fw"></i> Focal Length: <br class="hidden md:block"><b
                class="text-light-text dark:text-dark-text capitalize">{{ . }}</b>
        </div>
        {{ end }}

        {{ with .Params.shutterSpeed }}
        <div class="leading-default text-light-grey dark:text-dark-grey mb-2">
            <i class="fa-solid fa-stopwatch fa-fw"></i> Shutter Speed: <br class="hidden md:block"><b
                class="text-light-text dark:text-dark-text capitalize">{{ . }}</b>
        </div>
        {{ end }}

        {{ with .Params.aperture }}
        <div class="leading-default text-light-grey dark:text-dark-grey mb-2">
            <i class="fa-solid fa-circle-dot fa-fw"></i> Aperture: <br class="hidden md:block"><b
                class="text-light-text dark:text-dark-text capitalize">{{ . }}</b>
        </div>
        {{ end }}
    </section>
    <section class="responsive content py-8">
        <itemscope itemtype="https://schema.org/ImageObject">

            <img src="https://files.hexandcube.eu.org/photos/hexandcube-{{ .Params.id }}.jpg"
                itemprop="contentUrl" alt="{{ .Title }}" class="rounded-xl">
            </div>
    </section>
    <section class="responsive content py-8">
        {{ .Content }}
    </section>
</main>
{{ end }}