{{ define "main" }}
{{ $currentPage := . }}
<main>
    <section class="responsive pt-8 md:pt-12">
        <h1 class="accentline">{{ .Title }}</h1>
        <div class="mt-5">
            {{ with .Params.Author }}
            <span>
                <img src="/img/authors/{{ . }}.png" alt="{{ . }}"
                    class="rounded-full w-7 inline border-1 border-light-border-primary dark:border-dark-border-primary">
                <span>{{ . }}</span>
            </span>
            {{ else }}
            <img src="/img/authors/Anonymous.png" alt="Anonymous"
                class="rounded-full w-7 inline border-1 border-light-border-primary dark:border-dark-border-primary">
            <span>Anonymous</span>
            {{ end }}
            {{ with .Params.license }}
            <span>
                <span>&middot;</span>
                <span><a class="decoration-dotted underline" target="_blank" href="{{ $currentPage.Params.LicenseUrl }}">{{ . }}</a></span>
            </span>
            {{ end }}
            {{ with .Params.date }}
            <span>
                <span>&middot;</span>
                <span>{{ .Format "January 2, 2006" }}</span>
            </span>
            {{ end }}
        </div>
        {{ with .Description}}
        <p class="mt-5">{{ . }}</p>
        {{ end }}
        <div class="mt-4">
            {{ with .Params.camera }}
            <abbr title="Camera" class="chip cursor-help my-1 no-underline"><i class="fa-solid fa-camera"></i> {{ . }}</abbr>
            {{ end }}
            {{ with .Params.lens }}
            <abbr title="Lens" class="chip cursor-help my-1 no-underline"><i class="fa-solid fa-eye"></i> {{ . }}</abbr>
            {{ end }}
            {{ with .Params.resolution }}
            <abbr title="Resolution" class="chip cursor-help my-1 no-underline"><i class="fa-solid fa-maximize"></i> {{ . }}px</abbr>
            {{ end }}
            {{ with .Params.iso }}
            <abbr title="ISO" class="chip cursor-help my-1 no-underline"><i class="fa-solid fa-lightbulb"></i> ISO {{ . }}</abbr>
            {{ end }}
            {{ with .Params.focalLength }}
            <abbr title="Focal Length" class="chip cursor-help my-1 no-underline"><i class="fa-solid fa-arrows-to-eye"></i> {{ . }}</abbr>
            {{ end }}
            {{ with .Params.shutterSpeed }}
            <abbr title="Shutter Speed" class="chip cursor-help my-1 no-underline"><i class="fa-solid fa-stopwatch"></i> {{ . }}</abbr>
            {{ end }}
            {{ with .Params.aperture }}
            <abbr title="Aperture" class="chip cursor-help my-1 no-underline"><i class="fa-regular fa-circle-dot"></i> {{ . }}</abbr>
            {{ end }}
        </div>
        <div class="mt-4">
            <a href="https://files.hexandcube.eu.org/photos/hexandcube-{{ .Params.id }}.jpg" download="hexandcube-{{ .Params.id }}.jpg"
                class="btn btn-inverted">
                <i class="fa-solid fa-download fa-fw"></i>
                <span>Download from Hexandcube Files</span>
            </a>
        </div>
        <br>
        <!-- <div class="alert mt-4">
            <i class="fa-solid fa-gavel fa-fw"></i>
            <span class="title-6 clean">Work licensed under {{ .Params.License }}</span>
            <p class="pb-2">This work by Hexandcube is licensed under {{ .Params.License }}. Please read the license before use.</p>
            <a href="{{ .Params.LicenseURL }}" class="btn" target="_blank"
                rel="noopener noreferrer"><i class="fa-solid fa-file-contract fa-fw"></i> View license</a>
        </div> -->
        <div class="alert alert-red">
                <i class="text-2xl fa-solid fa-triangle-exclamation fa-fw"></i>
                <span class="title-6">Photo Licensing Suspended</span>
                <p class="content">
                    Licensing of Hexandcube's photos has been temporarily suspended until further notice. The content is protected by applicable copyright laws, and all rights are reserved.
                    Photos can be downloaded and used for personal, private use only, as outlined in the <a class="link" href="/terms#download-and-use-of-content">"Download and use of Content" section of the Terms and Conditions</a>. 

                    Previously licensed photos can still be used according to the terms of the license. 
                </p>
            </div>
    </section>
    <section class="responsive content py-4">
        <itemscope itemtype="https://schema.org/ImageObject">
            <img src="https://files.hexandcube.eu.org/photos/hexandcube-{{ .Params.id }}.jpg" itemprop="contentUrl"
                alt="{{ .Title }}" class="rounded-xl">
        </itemscope>
        </div>
    </section>
    <section class="responsive content py-8">
        {{ .Content }}
    </section>
</main>
{{ end }}