{{ define "main" }}
{{ $currentPage := . }}
<main>
    <section class="responsive pt-8 md:pt-12">
        <h1 class="accentline">{{ .Title }}</h1>
        <div class="mt-5">
            {{ with .Params.Author }}
            <span>
                <img src="/img/authors/{{ . }}.png" alt="{{ . }}"
                    class="rounded-full w-7 inline border-1 border-light-border-primary dark:border-dark-border-primary">
                <span>By {{ . }}</span>
            </span>
            {{ else }}
                <img src="/img/authors/Anonymous.png" alt="Anonymous"
                    class="rounded-full w-7 inline border-1 border-light-border-primary dark:border-dark-border-primary">
                <span>By Anonymous</span>
            {{ end }}
            {{ with .Params.license }}
            <span>
                <span>&middot;</span>
                <span><a class="decoration-dotted underline" target="_blank" href="{{ $currentPage.Params.LicenseUrl }}">{{ . }}</a></span>
            </span>
            {{ end }}
            {{ with .Params.date }}
            <span>
                <span>&middot;</span>
                <span>{{ .Format "January 2, 2006" }}</span>
            </span>
            {{ end }}
            {{ with .Params.variants }}
            <span>
                <span>&middot;</span>
                <span class="capitalize">Variants: {{ delimit . ", " }}</span>
            </span>
            {{ end }}
        </div>
        {{ with .Description}}
        <p class="mt-5">{{ . }}</p>
        {{ end }}
        <div class="mt-4">
            <a href="https://files.hexandcube.eu.org/wallpapers/download/Wallpaper-{{ .Params.id }}.zip"
                class="btn btn-inverted">
                <i class="fa-solid fa-download fa-fw"></i>
                <span>Download from Hexandcube Files</span>
            </a>
        </div>
        <div class="alert mt-4">
            <i class="fa-brands fa-creative-commons fa-fw"></i>
            <span class="title-6 clean">Work licensed under CC-BY-NC 4.0</span>
            <p class="pb-2">{{ .Title }} by Hexandcube is licensed under CC BY-NC 4.0. This license requires that reusers
                give credit to the creator. It allows reusers to distribute, remix, adapt, and build upon the material
                in any medium or format, for noncommercial purposes only.</p>
            <a href="https://creativecommons.org/licenses/by-nc/4.0/?ref=chooser-v1" class="btn" target="_blank" rel="noopener noreferrer"><i
                    class="fa-solid fa-file-contract fa-fw"></i> View license</a>
            <a href="/about" class="btn" target="_blank"
                rel="noopener noreferrer"><i class="fa-solid fa-envelope fa-fw"></i> Obtain commercial license</a>
        </div>
    </section>
    <section class="responsive content -my-6">
        {{ if .Params.variants }}
        {{ range .Params.variants }}
        <br>
        <div class="title-4 capitalize mb-2">{{ . }} Variant</div>
        <itemscope itemtype="https://schema.org/ImageObject">
            <img src="https://files.hexandcube.eu.org/wallpapers/Wallpaper-{{ $currentPage.Params.id }}-{{ . }}.png"
                itemprop="contentUrl" alt="{{ $currentPage.Title }}" class="rounded-xl mb-5">
        </itemscope>
        {{ end }}
        {{ else }}
        <itemscope itemtype="https://schema.org/ImageObject">
            <img src="https://files.hexandcube.eu.org/wallpapers/Wallpaper-{{ $currentPage.Params.id }}.png" itemprop="contentUrl"
                alt="{{ .Title }}" class="rounded-xl">
        </itemscope>
        {{ end }}
        </div>
    </section>
    <section class="responsive content py-8">
        {{ .Content }}
        {{ partial "support.html" . }}
    </section>
</main>
{{ end }}