{{ define "main" }}
<main>
    <section class="bg-light-secondary-bg dark:bg-dark-secondary-bg responsive py-16">
        <h1 class="accentline">Files</h1>
        <p class="mt-5">Here you can find all files published by Hexandcube.</p>
    </section>
    <section class="responsive py-8 md:mb-5">
        <div class="title-3 mb-3">All Files</div>
        {{ range (.Paginator 10).Pages }}
            <div onClick="location.href = '{{ .RelPermalink }}'" class="grid grid-cols-1 md:grid-cols-3 py-4 rounded-4xl hover:rounded-2xl cursor-pointer border-2 border-light-border dark:border-dark-border hover:bg-light-secondary-bg dark:hover:bg-dark-secondary-bg p-5 my-3">
                <div class="col-span-2">
                    <b class="text-2xl"> {{ .Params.Title }}</b>
                    <div class="mt-1">
                        <div class="inline-block bg-light-secondary dark:bg-dark-secondary rounded-5xl py-1 px-2 m-[0.15rem] text-sm whitespace-nowrap">
                            <i class="{{ .Params.Icon }} fa-fw"></i> {{ .Params.fileType }}
                        </div>
                        <div class="inline-block bg-light-secondary dark:bg-dark-secondary rounded-5xl py-1 px-2 m-[0.15rem] text-sm whitespace-nowrap">
                            {{ .Params.fileSize }}
                        </div>
                        {{ with .Params.fileVersion }}
                        <div class="inline-block bg-light-secondary dark:bg-dark-secondary rounded-5xl py-1 px-2 m-[0.15rem] text-sm whitespace-nowrap">
                            v.{{ . }}
                        </div>
                        {{ end }}
                    </div>
                </div>
                <div class="mt-3 md:mt-0">
                    <a class="btn btn-primary btn-circle float-right mx-2" href="{{ .RelPermalink }}" aria-label="Go to file page"><i class="fas fa-arrow-right"></i></a>
                    <a class="btn btn-secondary btn-circle float-right mx-2" href="{{ .Params.Download }}" aria-label="Download file"><i class="fas fa-download"></i> <span class="md:hidden">Download</span></a>
                </div>
            </div>
        
        {{ end }}
    </section>
    {{ partial "pagination.html" . }}
</main>
{{ end }}

