{{ define "main" }}
<main>
    <section class="bg-primary-100 dark:bg-dark-500 responsive py-16">
        <h1 class="highlighted">Files</h1>
        <p class="mt-5">Here you can find all files published by Hexandcube.</p>
    </section>
    <section class="responsive py-8 grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 xl:grid-cols-5">
        {{ range (.Paginator 10).Pages }}
        <div class="p-2 transform hover:translate-y-1 hover:translate-x-1 cursor-pointer">
            <a href="{{ .RelPermalink }}">
                <div
                    class="rounded-xl shadow-lg hover:shadow-sm aspect-w-1 aspect-h-1 {{ if not (.Params.Image) }}bg-primary-100{{ else if .Params.ImageBg }}bg-primary-100{{ end }}">
                    {{ if .Params.Image }}
                        <img src="{{ .Params.Image }}" class="rounded-xl" alt="{{ .Title }}">
                    {{ else }}
                        <div class="flex items-center justify-center w-full h-full">
                            <i class="{{ .Params.Icon }} text-6xl md:text-8xl text-primary-600"></i>
                        </div>
                    {{end}}
                </div>
            </a>
                <div class="col-span-4 leading-default">
                    <div class="title-6 text-center clear font-brand mt-3">
                        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                    </div>
                    <small class="inline-block -mt-5 capitalize">{{ .Params.Resolution }} {{ with .Params.Variant }} |
                        {{ . }} {{ end }}</small>
                </div>
        </div>
        {{ end }}
    </section>
    {{ partial "pagination.html" . }}
</main>
{{ end }}