{{ define "main" }}
{{ $currentPage := . }}
<main>
    {{ if not ( .Params.HideTitlebar )}}
    <section class="responsive pt-8 md:pt-12">
        <h1 class="accentline">{{ .Title }}</h1>
        <div class="mt-5">
            {{ with .Params.Author }}
            <span>
                <img src="/img/authors/{{ . }}.png" alt="{{ . }}"
                    class="rounded-full w-7 inline border-1 border-light-border dark:border-dark-border">
                <span>By {{ . }}</span>
            </span>
            {{ else }}
            <span>
                <img src="/img/authors/Anonymous.png" alt="Anonymous"
                    class="rounded-full w-7 inline border-1 border-light-border dark:border-dark-border">
                <span>By Anonymous</span>
                {{ end }}
                {{ with .Params.fileType }}
                <span>
                    <span>&middot;</span>
                    <span>{{ . }}</span>
                </span>
                {{ end }}
                {{ with .Params.fileVersion }}
                <span>
                    <span>&middot;</span>
                    <span>Version {{ . }}</span>
                </span>
                {{ end }}
                {{ with .Params.fileDate }}
                <span>
                    <span>&middot;</span>
                    <span>Updated on {{ . }}</span>
                </span>
                {{ end }}
        </div>
        {{ with .Description}}
        <p class="mt-5">{{ . }}</p>
        {{ end }}
        <div class="mt-4">            
            <a href="{{ .Params.download }}" class="btn btn-inverted">
                <i class="fa-solid fa-download fa-fw"></i>
                <span>Download from {{ .Params.downloadServer }}</span>
            </a>
            {{ if .Params.Versions }}
            <a href="#all-versions" class="btn">
                <i class="fa-solid fa-caret-down fa-fw"></i>
            </a>
            {{ else if .Params.Servers}}
            <a href="#download-servers" class="btn">
                <i class="fa-solid fa-caret-down fa-fw"></i>
            </a>
            {{ end }}
        </div>
    </section>
    {{ end }}
    <section class="responsive content pb-8">
        {{ if .Params.Thumbnail }}
        <div class="mb-8">
            <img class="rounded-2xl" src="/img/files/{{ .Params.Thumbnail }}" alt="{{ .Title }}">
        </div>
        {{ end }}
        <article class="content {{ if not (.Params.HideBg) }}contentblock{{ end }}">
            {{ .Content }}
        </article>
    </section>
    {{ if .Params.Versions }}
    <section class="responsive content pb-10">
        <div class="title-2 mb-1" id="all-versions">All Versions</div>
        <p class="mb-8">Download different versions of this file from {{ $currentPage.Params.downloadServer }}</p>
        <div class="content gap-2 grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-3 3xl:grid-cols-4">
            {{ range sort .Params.Versions "date" "desc"}}
            <div
                class="rounded-2xl border-2 border-light-border dark:border-dark-border mb-1 overflow-clip {{ if .latest }}bg-blue-500/20 dark:bg-blue-500/10{{ else if .prerelease }}bg-yellow-500/20 dark:bg-yellow-500/10{{ else }}bg-light-secondary-bg dark:bg-dark-secondary-bg{{ end }}">
                <div class="px-4 py-2">
                    <p class="text-3 font-bold">
                        {{ if .latest }}
                        <i class="fa-solid fa-asterisk fa-fw"></i>
                        {{ end }}
                        {{ if .prerelease }}
                        <i class="fa-solid fa-flask fa-fw"></i>
                        {{ end }} Version {{ .name }}</p>
                    {{ with .date }}
                    <p>Released {{ . }}</p>
                    {{ end }}
                </div>
                <a href="{{ .download }}"
                    class="bg-light-selection dark:bg-dark-selection hover:bg-light-border dark:hover:bg-dark-border block w-full clean py-3 text-center">
                    <i class="fa-solid fa-download fa-fw pr-2"></i> Download {{ if .latest }}latest{{ end}}
                    {{ if .prerelease }}pre-release{{ end }}
                </a>
            </div>
            {{ end }}
        </div>
    </section>
    {{ end }}
    {{ if .Params.Servers }}
    <section class="responsive content pb-10">
        <div class="title-2 mb-1" id="download-servers">Download Servers</div>
        <p class="mb-8">You can download this file from these servers</p>
        <div class="content gap-2 grid grid-cols-1 lg:grid-cols-2">
            {{ if $currentPage.Params.Versions }}
            <a href="#all-versions" class="btn btn-inverted w-full"><i class="fa-solid fa-circle-up"></i> Download from {{ $currentPage.Params.DownloadServer }}</a>
            {{ end }}
            {{ range sort .Params.Servers }}
            <a href="{{ .download }}" target="_blank" class="btn w-full"><i class="fa-solid fa-up-right-from-square"></i> Download from {{ .name }}</a>
            {{ end }}
        </div>
    </section>
    {{ end }}
</main>
{{ end }}