{{ define "main" }}
<main>
    <section class="bg-light-secondary-bg dark:bg-dark-secondary-bg responsive py-8 md:py-14">
        <h1 class="accentline">{{ .Title }}</h1>
        {{ with .Description}}
        <p class="mt-5">{{ . }}</p>
        {{ end }}
    </section>
    <section
        class="bg-light-secondary-bg dark:bg-dark-secondary-bg responsive py-4 md:grid md:grid-cols-5 gap-x-2 gap-y-1">
        <div class="leading-default">
            File Type: <br class="hidden md:block"><b class="text-black dark:text-white">{{ .Params.FileType }} ({{ .Params.fileExtension }})</b>
        </div>
        <div class="leading-default">
            File Version: <br class="hidden md:block"><b class="text-black dark:text-white">{{ .Params.FileVersion }}
                ({{ .Params.FileDate}})</b>
        </div>
        <div class="leading-default">
            File Size: <br class="hidden md:block"><b class="text-black dark:text-white capitalize">{{ .Params.FileSize }}</b>
        </div>
        <div class="leading-default md:text-right md:mt-1 col-span-2">
            <a href="{{ .Params.Download }}"
                class="btn btn-primary"><i class="fa-solid fa-download"></i> Download from {{ .Params.DownloadServer }}</a>
        </div>
    </section>
    <section class="responsive content py-8">
        <div class="title-3 mb-3">Description</div>
        {{ .Content }}

        <div class="title-3 mb-3 mt-8">File Metadata</div>
        <i class="fas fa-font fa-fw"></i> <b>File name: </b>{{ .Params.FileName }}
        <br>
        <i class="fas fa-file fa-fw"></i> <b>File type: </b>{{ .Params.FileType }} ({{ .Params.FileExtension }})
        <br>
        <i class="fas fa-weight fa-fw"></i> <b>File size: </b>{{ .Params.FileSize }}
        {{ if .Params.FileVersion }}
        <br>
        <i class="fas fa-code-branch fa-fw"></i> <b>File version: </b>{{ .Params.FileVersion }}
        {{ with .Params.FileDate }}({{ . }}){{ end }}
        {{ end }}
        {{ if .Params.versions }}
            <div class="title-3 mb-3 mt-8">Download the latest version</div>
        {{ else }}
            <div class="title-3 mb-3 mt-8">Download</div>
        {{ end }}
        <b><a href="{{ .Params.Download }}"><i class="fas fa-download"></i> {{ .Params.DownloadServer }}</a></b>
        {{ range .Params.Servers }}
        <br>
        <a href="{{ .download }}"><i class="fas fa-download"></i> {{ .name }}</a>
        {{ end }}

        {{ if .Params.Versions }}
        <div class="title-3 mb-3 mt-8">All Versions</div>

        <b><a href="{{ .Params.Download }}"><i class="fas fa-download"></i> {{ .Params.FileVersion }}
                (latest{{ with .Params.FileDate }} - {{ . }}{{ end }})</a></b>
        {{ range .Params.Versions }}
        <br>
        <a href="{{ .download }}"><i class="fas fa-download"></i> {{ .name }} {{ with .date }}({{ . }}){{ end }}</a>
        {{ end }}

        {{ end }}
    </section>
</main>
{{ end }}