@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'syntax.scss';

.dark .footerlogo-dark {
    display: none;
}

.light .footerlogo-light {
    display: none;
}

* {
    transition: 0.3s;
    scroll-behavior: smooth;
    text-rendering: geometricPrecision;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.wrapper {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
}

p:not(.leading-default),
div.text-block {
    @apply md:leading-7 leading-5;
}

.title-leading {
    @apply md:leading-10 leading-7;
}

.responsive {
    @apply 3xl:px-96 2xl:px-72 xl:px-48 lg:px-16 sm:px-4 px-3;
}

.footnotes {
    @apply px-0 py-4; 
}

section {
    @apply lg:py-16 sm:py-12 py-8 responsive;
}

code {
    @apply bg-light-50 dark:bg-dark-200 font-mono px-2 rounded-md;
}

pre {
    @apply bg-light-50 dark:bg-dark-200 font-mono p-3 rounded-lg overflow-x-scroll;
}

pre > code {
    @apply p-0;
}

.chroma .ln {
    @apply mr-2;
}

p,
div {
    @apply text-light-800 dark:text-gray-300 sm:text-lg text-base leading-tight;
}

h1,
.title-1 {
    @apply xl:text-6xl sm:text-5xl text-5xl font-brand font-bold leading-tight text-black dark:text-white;
}

h2,
.title-2 {
    @apply xl:text-5xl sm:text-4xl text-3xl font-brand font-bold leading-8 text-black dark:text-white;
}

h3,
.title-3 {
    @apply xl:text-4xl sm:text-3xl text-2xl font-brand font-bold leading-8 text-black dark:text-white;
}

h4,
.title-4 {
    @apply xl:text-4xl sm:text-3xl text-2xl -ml-1px font-bold leading-7 text-black dark:text-white;
}

h5,
.title-5 {
    @apply xl:text-3xl sm:text-2xl text-xl -ml-1px font-bold leading-7 text-black dark:text-white;
}

h6,
.title-6 {
    @apply xl:text-2xl sm:text-xl text-lg -ml-1px font-bold leading-6 text-black dark:text-white;
}

.content {
    h1,h2,h3,h4,h5,h6 {
        @apply md:mt-10 md:mb-5 mt-7 mb-3;
    }

    p{
        @apply mb-3;
    }

    h1 {
        @apply highlighted;
    }

    a:not(.clean, .btn) {
        @apply decoration-accent-500 decoration-2 underline underline-offset-2 hover:text-white dark:hover:text-white hover:bg-accent-500 px-0.5 rounded-sm;
    }

    ul li {
        list-style-type: disc;
    }

    ol li {
        list-style-type: decimal;
    }

    li li {
        @apply ml-6;
    }

    li {
        @apply ml-1;
    }

    hr {
        @apply my-5;
    }
}

.btn {
    @apply border-2 border-transparent inline-block px-4 py-2 text-accent-500 hover:bg-accent-600 hover:text-white hover:shadow-lg hover:shadow-accent-600/20 cursor-pointer rounded-3xl mr-1 my-1 font-bold;
}

.btn-primary {
    @apply border-2 border-transparent bg-accent-500 hover:bg-accent-600 shadow-lg shadow-accent-500/30 hover:shadow-accent-600/30 text-white;
}

.btn-secondary {
    @apply border-2 border-accent-500 text-accent-500 hover:text-white hover:bg-accent-500 shadow-sm shadow-accent-500/30;
}

.btn-circle {
    line-height: 18px !important;
    padding-top: 16px !important;
    padding-bottom: 16px !important;
    @apply rounded-full;
}

.underlined-children {
    @apply decoration-accent-500 decoration-2 underline underline-offset-2;
}

.highlighted {
    display: inline-block;
    text-decoration: underline solid 6px #f15a25;
}

.page-item::before {
    display: none;
}

.pagination {
    margin: auto;
    width: 50%;
    justify-content: center;
    margin-top: 1rem;
}

.utterances {
    max-width: 100%;
}