@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'syntax.scss';

:target::before {
    content: '';
    display: block;
    height: 110px;
    margin-top: -110px;
}

.dark .footerlogo-dark {
    display: none;
}

.light .footerlogo-light {
    display: none;
}

* {
    transition: 0.3s;
    scroll-behavior: smooth;
    text-rendering: geometricPrecision;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.wrapper {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
}

p:not(.leading-default),
div.text-block {
    @apply md:leading-7 leading-5;
}

.title-leading {
    @apply md:leading-10 leading-7;
}

.responsive {
    @apply 3xl:px-80 2xl:px-60 xl:px-32 lg:px-16 sm:px-4 px-3;
}

section {
    @apply py-4 responsive;
}

.footnotes {
    @apply px-0 py-4; 
}

code {
    @apply bg-light-selection dark:bg-dark-selection font-mono px-1 rounded-md;
}

pre {
    @apply bg-light-selection dark:bg-dark-selection font-mono p-3 my-3 rounded-lg overflow-x-scroll;
}

pre > code {
    @apply p-0;
}

.chroma .ln {
    @apply mr-2;
}

p,
div {
    @apply text-light-text dark:text-dark-text sm:text-lg text-base leading-tight;
}

h1,
.title-1 {
    @apply xl:text-6xl sm:text-5xl text-5xl font-brand font-bold leading-tight text-light-text dark:text-dark-text;
}

h2,
.title-2 {
    @apply xl:text-5xl sm:text-4xl text-3xl font-brand font-bold leading-8 text-light-text dark:text-dark-text;
}

h3,
.title-3 {
    @apply xl:text-4xl sm:text-3xl text-2xl font-brand font-bold leading-8 text-light-text dark:text-dark-text;
}

h4,
.title-4 {
    @apply xl:text-4xl sm:text-3xl text-2xl -ml-1px font-bold leading-7 text-light-text dark:text-dark-text;
}

h5,
.title-5 {
    @apply xl:text-3xl sm:text-2xl text-xl -ml-1px font-bold leading-7 text-light-text dark:text-dark-text;
}

h6,
.title-6 {
    @apply xl:text-2xl sm:text-xl text-lg -ml-1px font-bold leading-6 text-light-text dark:text-dark-text;
}

.contentblock {
    @apply p-5 -mt-5 bg-light-secondary-bg dark:bg-dark-secondary-bg rounded-xl border-2 border-light-border dark:border-dark-border;
}

.content {
    h1,h2,h3,h4,h5,h6 {
        @apply md:mt-10 md:mb-5 mt-7 mb-3;
    }

    p{
        @apply my-2;
    }

    a:not(.clean, .btn) {
        @apply text-accent-600 dark:text-accent-500 px-1px hover:bg-accent-600 hover:text-white dark:hover:text-white underline underline-offset-4 ;
        transition: all none;
    }

    ul, ol {
        padding-left: 20px;
    }

    ul li {
        @apply list-disc;
    }

    li:has(input[type="checkbox"]) {
        list-style-type: none !important;
    }

    ul:has(li:has(input[type="checkbox"])) {
        padding-left: 5px !important;
    }

    ol li {
        list-style-type: decimal;
    }

    li li {
        @apply ml-6;
    }

    li {
        @apply ml-1;
    }

    hr {
        @apply my-5 border-light-border dark:border-dark-border;
    }

    dt {
        @apply font-bold;
    }

    dd {
        @apply mb-3 ml-5;
    }

    img {
        @apply rounded-xl;
    }

    table, th, td {
        @apply border-2 border-light-grey dark:border-dark-grey py-1 px-3;
    }

    th {
        @apply font-bold bg-light-selection dark:bg-dark-selection;
    }

    .footnote-ref, .footnote-backref {
        text-decoration: none !important;
    }

    .footnote-ref::before {
        content: '[';
    }

    .footnote-ref::after {
        content: ']';
    }

    blockquote {
        @apply border-l-4 border-light-selection dark:border-dark-selection pl-3 my-3;
    }
}

.input {
    @apply mb-1 px-4 py-3 rounded-xl bg-light-selection dark:bg-dark-selection border-1 border-light-border dark:border-dark-border disabled:cursor-not-allowed disabled:bg-light-border dark:disabled:bg-dark-border;
}

input[type=checkbox] {
    @apply cursor-pointer mb-1 bg-light-selection dark:bg-dark-selection border-light-border dark:border-dark-border rounded focus:ring-0 focus:checked:bg-orange checked:bg-orange hover:checked:bg-orange dark:checked:bg-orange focus:dark:bg-orange disabled:cursor-not-allowed disabled:bg-light-border dark:disabled:bg-dark-border disabled:hover:bg-light-border dark:disabled:hover:bg-dark-border;
}

input[type=radio] {
    @apply cursor-pointer mb-1 bg-light-selection dark:bg-dark-selection border-light-border dark:border-dark-border rounded-full focus:ring-0 focus:checked:bg-orange checked:bg-orange hover:checked:bg-orange dark:checked:bg-orange focus:dark:bg-orange disabled:cursor-not-allowed disabled:bg-light-border dark:disabled:bg-dark-border disabled:hover:bg-light-border dark:disabled:hover:bg-dark-border;
}

select {
    padding-right: 40px !important;
}

.btn {
    @apply border-2 border-light-border dark:border-dark-border inline-block px-4 py-2 cursor-pointer rounded-xl mr-1 my-1 hover:rounded-2xl bg-light-selection dark:bg-dark-selection hover:bg-light-border dark:hover:bg-dark-border hover:border-transparent dark:hover:border-transparent text-center;
}

.btn-inverted {
    @apply border-2 border-dark-border dark:border-dark-border inline-block px-4 py-2 cursor-pointer rounded-xl mr-1 my-1 hover:rounded-2xl bg-dark-selection dark:bg-light-selection hover:bg-dark-border dark:hover:bg-light-border text-dark-secondary-text dark:text-light-secondary-text hover:border-transparent dark:hover:border-transparent;
}

.btn-orange {
    @apply border-2 border-orange-300 dark:border-orange-300 bg-orange dark:bg-orange hover:bg-orange-600 hover:dark:bg-orange-600 text-light-primary-text dark:text-dark-primary-text;
}

.btn-yellow {
    @apply border-2 border-yellow-300 dark:border-yellow-300 bg-yellow dark:bg-yellow hover:bg-yellow-600 hover:dark:bg-yellow-600 text-light-primary-text dark:text-dark-primary-text;
}

.btn-blue {
    @apply border-2 border-blue-300 dark:border-blue-300 bg-blue dark:bg-blue hover:bg-blue-600 hover:dark:bg-blue-600 text-light-primary-text dark:text-dark-primary-text;
}

.btn-green {
    @apply border-2 border-green-300 dark:border-green-300 bg-green dark:bg-green hover:bg-green-600 hover:dark:bg-green-600 text-light-primary-text dark:text-dark-primary-text;
}

.btn-red {
    @apply border-2 border-red-300 dark:border-red-300 bg-red-500 dark:bg-red-500 hover:bg-red-600 hover:dark:bg-red-600 text-light-primary-text dark:text-dark-primary-text;
}

.btn-disabled {
    @apply cursor-not-allowed bg-light-border dark:bg-dark-border text-light-grey dark:text-dark-grey hover:rounded-xl;
}

.btn-square {
    line-height: 18px !important;
    padding-top: 16px !important;
    padding-bottom: 16px !important;
    @apply rounded-xl;
}

.alert {
    @apply w-full border-2 border-light-border dark:border-dark-border inline-block p-4 rounded-xl mr-1 my-1 bg-light-selection dark:bg-dark-selection;
}

.alert .title-6, .alert p {
    @apply dark:text-dark-secondary-text text-light-secondary-text;
}

.alert-inverted .title-6, .alert-inverted p {
    @apply text-dark-secondary-text dark:text-light-secondary-text;
}

.alert-inverted {
    @apply w-full border-2 border-dark-border dark:border-dark-border inline-block p-4 rounded-xl mr-1 my-1 bg-dark-selection dark:bg-light-selection text-dark-secondary-text dark:text-light-secondary-text;
}

.alert-orange {
    @apply w-full border-2 border-orange-300 dark:border-orange-300 bg-orange dark:bg-orange text-light-primary-text dark:text-dark-primary-text;
}

.alert-yellow {
    @apply w-full border-2 border-yellow-300 dark:border-yellow-300 bg-yellow dark:bg-yellow text-light-primary-text dark:text-dark-primary-text;
}

.alert-blue {
    @apply w-full border-2 border-blue-300 dark:border-blue-300 bg-blue dark:bg-blue text-light-primary-text dark:text-dark-primary-text;
}

.alert-green {
    @apply w-full border-2 border-green-300 dark:border-green-300 bg-green dark:bg-green text-light-primary-text dark:text-dark-primary-text;
}

.alert-red {
    @apply w-full border-2 border-red-300 dark:border-red-300 bg-red-500 dark:bg-red-500 text-light-primary-text dark:text-dark-primary-text;
}

.alert-orange i, .alert-yellow i, .alert-blue i, .alert-green i, .alert-red i {
    @apply text-light-secondary-text dark:text-dark-secondary-text;
}

.chip {
    @apply inline-block px-3 py-1 rounded-full bg-light-border dark:bg-dark-border;
}

.underlined-children {
    @apply decoration-accent-500 decoration-2 underline underline-offset-2;
}

.accentline {
    display: inline-block;
    text-decoration: underline solid 6px #f15a25;
}

.page-item::before {
    display: none;
}

.pagination {
    margin: auto;
    width: 50%;
    justify-content: center;
    margin-top: 1rem;
}

.utterances {
    max-width: 100%;
}

.image-card {
    border-radius: 1.75rem !important;
}

.image-card:hover {
    border-radius: 0.75rem !important;
}

.clover {
    @apply fill-light-selection dark:fill-dark-selection;
}

.clover-container:hover .clover {
    transform: rotate(90deg);
    @apply fill-accent dark:fill-accent;
}

.extended {
    @apply bg-light-primary-bg;
}

.dark .extended {
    @apply bg-dark-primary-bg;
}

.image-card-container:hover .image-card-marker {
    opacity: 1 !important;
}

.post-card:hover .post-card-image {
    @apply rounded-2xl;
}