@import "https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&family=Space+Mono&display=swap";
@import "/fonts/mont/mont.css";

a {
    color: #f15a25;
    text-decoration: none;
}

p,h4,h5,h6,div,span {
    font-family: "Open Sans", sans-serif;
}

h1,h2,h3 {
    font-family: "Mont", sans-serif;
}

img {
    max-width: 80%;
}