{{ define "main" }}
<main>
    {{ if not ( .Params.HideTitlebar )}}
    <section class="responsive pt-8 md:pt-12">
        <h1 class="accentline">{{ .Title }}</h1>
        {{ if not ( .Params.HideMetabar)}}
        <div class="mt-5">
            {{ with .Params.Author }}
            <span>
                <img src="/img/authors/{{ . }}.png" alt="{{ . }}"
                    class="rounded-full w-7 inline border-1 border-light-border dark:border-dark-border">
                <span>By {{ . }}</span>
            </span>
            {{ else }}
            <span>
                <img src="/img/authors/Anonymous.png" alt="Anonymous"
                    class="rounded-full w-7 inline border-1 border-light-border dark:border-dark-border">
                <span>By Anonymous</span>
            {{ end }}
            {{ with .PublishDate }}
            <span>
                <span>&middot;</span>
                <span>{{ .Format "January 2, 2006" }}</span>
            </span>
            {{ end }}
            {{ if .Params.ShowLastMod }}
                {{ with .Params.LastMod }}
                <span>
                    <span>&middot;</span>
                    <span>Updated on {{ .Format "January 2, 2006" }}</span>
                </span>
                {{ end }}
            {{ end }}
            {{ if not ( .Params.HideReadingTime )}}
                {{ with .ReadingTime }}
                <span>
                    <span>&middot;</span>
                    <span>{{ . }} min read</span>
                </span>
                {{ end }}
            {{ end }}
        </div>
        {{ end}}
        {{ with .Description}}
        <p class="mt-5">{{ . }}</p>
        {{ end }}
    </section>
    {{ end }}

    <section class="responsive content pb-10">
            {{ if .Params.Thumbnail }}
            <div class="mb-8">
                <img class="rounded-2xl" src="{{ .Params.Thumbnail }}" alt="{{ .Title }}">
            </div>
            {{ end }}
        <article class="content {{ if not (.Params.HideBg) }}contentblock{{ end }}">
            {{ .Content }}
        </article>  
    </section>
</main>
{{ end }}