{{ define "main" }}
<main>
    {{ if not ( .Params.HideTitlebar )}}
    <section class="bg-light-secondary-bg dark:bg-dark-secondary-bg responsive py-8 md:py-14">
        <h1 class="accentline">{{ .Title }}</h1>
        {{ with .Description}}
        <p class="mt-5">{{ . }}</p>
        {{ end }}
        {{ end }}
    </section>
    {{ if not ( .Params.HideMetabar)}}
    {{ if or ( .PublishDate ) ( .Lastmod ) ( .Params.Author ) }}
    <section class="bg-light-secondary-bg dark:bg-dark-secondary-bg responsive py-4 grid md:grid-cols-4 xl:grid-cols-5 gap-x-3 gap-y-1">
        {{ with .Params.Author }}
        <div class="leading-default text-light-grey dark:text-dark-grey">
            Author: <br class="hidden md:block"><b class="text-light-text dark:text-dark-text">{{ . }}</b>
        </div>
        {{ end }}
        {{ with .PublishDate }}
        <div class="leading-default text-light-grey dark:text-dark-grey">
            Published: <br class="hidden md:block"><b
                class="text-light-text dark:text-dark-text">{{ .Format "January 2, 2006" }}</b>
        </div>
        {{ end }}
        {{ if .Params.RenderLastmod }}
            {{ with .Lastmod }}
            <div class="leading-default text-light-grey dark:text-dark-grey">
                Last Updated: <br class="hidden md:block"><b
                    class="text-light-text dark:text-dark-text">{{ .Format "January 2, 2006" }}</b>
            </div>
            {{ end }}
        {{ end }} 
        {{ if ( not .Params.HideReadingTime ) }}
        {{ with .ReadingTime }}
        <div class="leading-default text-light-grey dark:text-dark-grey">
            Reading Time: <br class="hidden md:block"><b class="text-light-text dark:text-dark-text">{{ . }} min</b>
        </div>
        {{ end }}
        {{ end }}
    </section>
    {{ end }}
    {{ end }}

    <section class="responsive content py-8">
    {{ if .Params.Thumbnail }}
    <div class="mb-8">
        <img class="rounded-4xl" src="{{ .Params.Thumbnail }}" alt="{{ .Title }}">
    </div>
    {{ end }}
        {{ .Content }}
        <h2>Comments</h2>
        {{ partial "comments.html" }}
    </section>
</main>
{{ end }}