<meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="{{ if .Params.Description }}{{ .Params.Description }}{{ else }}{{ .Title }} on Hexandcube.eu.org{{ end }}">
<meta name="keywords" content="{{ if .Params.Keywords }}{{ delimit .Keywords " " }}{{ else }}{{ .Site.Params.Keywords }}{{ end }}">
<link rel="canonical" href="{{ .Permalink }}">
<meta property="og:title" content="{{ with .Page.Title }}{{ . }} | {{ end }}{{ .Site.Title }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:description" content="{{ if .Params.Description }}{{ .Params.Description }}{{ else }}{{ .Title }} on Hexandcube.eu.org{{ end }}" />
<meta property="og:image" content="https://hexandcube.eu.org{{ with .Page.Params.Thumbnail}}{{ . }}{{ else }}/img/opengraph.png{{ end }}" />
<meta property="twitter:title" content="{{ with .Page.Title }}{{ . }} | {{ end }}{{ .Site.Title }}" />
<meta property="twitter:creator" content="@hexandcube" />
<meta property="twitter:site" content="@hexandcube" />
<meta property="twitter:image" content="https://hexandcube.eu.org{{ with .Page.Params.Thumbnail}}{{ . }}{{ else }}/img/opengraph.png{{ end }}" />
{{ with .Site.Params.JsonLd }}
<script type="application/ld+json" >
{{ . | safeJS }}
</script>
{{ end }}

<title>{{ with .Page.Title }}{{ . }} | {{ end }}{{ .Site.Title }}</title>

{{ $styles := resources.Get "scss/main.scss" | toCSS | postCSS }}
{{ $styles := $styles | minify | resources.PostProcess }}
<link rel="stylesheet" href="{{ $styles.RelPermalink }}" async/>

{{ if .Site.IsServer }}
{{ $seed := "3057234985271398467293562983" }}
{{ $random := delimit (shuffle (split (md5 $seed) "" )) "" }}
{{
    $style := resources.Get "/scss/main.scss"
    | resources.ToCSS
    | resources.PostCSS
    | resources.ExecuteAsTemplate (printf "tailwind.dev.%s.css" $random) $random
    }}
<link rel="stylesheet" href="{{ $style.RelPermalink }}">
{{ else }}
{{
    $style := resources.Get "/scss/main.scss"
        | resources.ToCSS
        | resources.PostCSS
        | resources.Minify
    }}
<link rel="stylesheet" href="{{ $style.RelPermalink }}">
{{ end }}

<link rel="stylesheet" href="/fonts/font-awesome/css/all.min.css" defer>
<link rel="stylesheet" href="/fonts/mont/mont.css" async>
<link rel="stylesheet" href="/fonts/hexandcube-icon/hexandcube-icon.css" defer>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Space+Mono&display=swap"
    rel="stylesheet" async>
<link rel="apple-touch-icon" sizes="57x57" href="/icons/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/icons/apple-touch-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/icons/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/icons/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/icons/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/icons/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/icons/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/icons/apple-touch-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon-180x180.png">
<link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/icons/safari-pinned-tab.svg" color="#f15a20">
<link rel="shortcut icon" href="/icons/favicon.ico">
<meta name="apple-mobile-web-app-title" content="Hexandcube">
<meta name="application-name" content="Hexandcube">
<meta name="msapplication-TileColor" content="#f15a20">
<meta name="msapplication-TileImage" content="/icons/mstile-144x144.png">
<meta name="msapplication-config" content="/icons/browserconfig.xml">
<meta name="theme-color" content="#f15a20">
<link href="https://hexandcube.eu.org/.well-known/hexandcube.asc" rel="pgpkey authn">

<!-- Theme switcher -->
<script>
    function setTheme(themeName) {
        localStorage.setItem('theme', themeName);
        document.documentElement.className = themeName;
        themeToggle = document.getElementById("theme-toggle-label");
        if (themeName === 'dark') {
            themeToggle.innerHTML = '<i class="fa-solid fa-sun"></i>'
        } else themeToggle.innerHTML = '<i class="fa-solid fa-moon"></i>'
        changeGiscusTheme();
    }

    function toggleTheme() {
        if (localStorage.getItem('theme') === 'light') {
            setTheme('dark');
        } else {
            setTheme('light');
        }
    }

    // Automaticly apply theme on load
    function checkTheme() {
        if (localStorage.getItem('theme') === 'dark') {
            setTheme('dark');
        } else if (localStorage.getItem('theme') === 'light') {
            setTheme('light');
        } else if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
            setTheme('dark');
        } else {
            setTheme('light');
        }
        changeGiscusTheme();
    }

    function changeGiscusTheme() {
        if (localStorage.getItem('theme') === 'dark') {
            theme = "dark_dimmed";
        } else {
            theme = "light";
        }

        function sendMessage(message) {
            const iframe = document.querySelector('iframe.giscus-frame');
            if (!iframe) return;
            iframe.contentWindow.postMessage({
                giscus: message
            }, 'https://giscus.app');
        }

        sendMessage({
            setConfig: {
                theme: theme
            }
        });
    }

    checkTheme();
</script>
<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
