<div class="sticky top-0 bg-light-primary-bg/40 dark:bg-dark-primary-bg/60 backdrop-blur-lg z-10">
    <header id="header" class="responsive py-4 px-2 ">
        <a href="/"
            class="hover:bg-light-selection dark:hover:bg-dark-selection inline-block md:py-2 py-1 px-2 pl-4 -mr-5 rounded-full">
            <span class="font-logo align-middle text-4xl text-light-secondary-text dark:text-dark-text px-1 -ml-2">hexandcube</span>
            <span class="font-brand font-bold align-middle text-2xl text-light-secondary-text dark:text-dark-text px-2">hexandcube</span>
        </a>
        <div class="inline-block float-right">
            <div
                class="px-2 -ml-2 py-1 md:mt-1 font-bold align-middle inline-block rounded-full hover:bg-light-selection dark:hover:bg-dark-selection text-light-secondary-text dark:text-dark-secondary-text">
                <label for="theme-toggle" id="theme-toggle-label" class="text-xl" onclick="toggleTheme()">
                    <i class="fa-solid fa-circle-notch animate-spin"></i>
                    <input type="checkbox" class="hidden" id="theme-toggle" />
                </label>
            </div>
            <div class="px-2 py-1 font-bold align-middle text-xl rounded-full hover:bg-light-selection dark:hover:bg-dark-selection text-light-secondary-text dark:text-dark-secondary-text md:hidden inline-block"
                onclick="toggleNavbar()">
                <i class="fa-solid fa-bars fa-fw"></i>
            </div>
        </div>
        <nav class="md:inline-block hidden mt-4 md:mt-0 pb-5 md:pb-0 pl-3 mx-1 md:md-0 border-light-border dark:border-dark-border"
            id="navbar">
            {{ $current := . }}
            {{ range .Site.Menus.main }}
            {{ $active := or ($current.IsMenuCurrent "main" .) ($current.HasMenuCurrent "main" .) }}
            {{ $active = or $active (eq .Identifier $current.Params.Category) }}
            <a href="{{ .URL }}"
                class="md:inline-block block px-4 py-2 -ml-3 md:ml-0 mt-1 md:mt-0 align-middle rounded-full
                {{ if $active }}border-2 border-light-border dark:border-dark-border text-light-secondary-text dark:text-dark-secondary-text hover:bg-light-selection dark:hover:bg-dark-selection font-bold
                {{ else }}hover:bg-light-selection dark:hover:bg-dark-selection text-light-secondary-text dark:text-dark-secondary-text{{end}}">
                {{ .Name }}</a>
            {{ end }}
        </nav>
    </header>
</div>

<script>
    var nav = document.getElementById('navbar');
    var header = document.getElementById('header');

    function toggleNavbar() {
        if (navbar.classList.contains('hidden')) {
            navbar.classList.remove('hidden');
            header.classList.add('extended');
        } else {
            navbar.classList.add('hidden');
            header.classList.remove('extended');
        }
    }
</script>