{{ $paginator := .Paginator }}

{{ if gt $paginator.TotalPages 1 }}

<div role="navigation" class="text-center mt-12">
    <div>
        <div
            class="inline-block px-2 py-1 leading-default rounded m-1 hover:shadow-none hover:bg-accent-50
            {{ if $paginator.HasPrev }}bg-gray-200 dark:bg-gray-700 shadow transform hover:translate-y-1
            hover:bg-accent-50 cursor-pointer{{ else }}pointer-events-none bg-transparent{{ end }}">
            <a href="{{ if $paginator.HasPrev }}{{ $paginator.Prev.URL }}{{ end }}">
                Prev
            </a>
        </div>

        {{ range $paginator.Pagers }}
        <div
            class="inline-block bg-gray-200 px-2 py-1 leading-default rounded shadow hover:shadow-none m-1
            hover:bg-accent-50 dark:hover:bg-accent-500 transform hover:translate-y-1 cursor-pointer dark:bg-gray-700{{ if eq . $paginator }}font-bold
            bg-accent-100 dark:bg-accent-700{{ end }}">
            <a href="{{ .URL }}">
                {{ .PageNumber }}
            </a>
        </div>
        {{ end }}


        <div
            class="inline-block px-2 py-1 leading-default rounded m-1
            hover:shadow-none hover:bg-accent-50 transform hover:translate-y-1 {{ if $paginator.HasNext }}bg-gray-200
            dark:bg-gray-700 shadow cursor-pointer{{ else }}pointer-events-none bg-transparent{{ end }}">
            <a href="{{ if $paginator.HasNext }}{{ $paginator.Next.URL }}{{ end }}">
                Next
            </a>
        </div>

    </div>
</div>
{{ end }}