<!-- Theme switcher -->
<script>
    function setTheme(themeName) {
        localStorage.setItem('theme', themeName);
        document.documentElement.className = themeName;
        themeToggle = document.getElementById("theme-toggle-label");
        if (themeName === 'dark') {
            themeToggle.innerHTML = '<i class="fa-solid fa-sun"></i>'
        } else themeToggle.innerHTML = '<i class="fa-solid fa-moon"></i>'
    }

    function toggleTheme() {
        if (localStorage.getItem('theme') === 'light') {
            setTheme('dark');
        } else {
            setTheme('light');
        }
    }

    // Automaticly apply theme on load
    window.onload = () => {
        if (localStorage.getItem('theme') === 'dark') {
            setTheme('dark');
        } else if (localStorage.getItem('theme') === 'light') {
            setTheme('light');
        } else if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
            setTheme('dark');
        } else {
            setTheme('light');
        }
    }

    // Set the theme of the Utterances comment widget
    addEventListener('message', event => {
        if (event.origin !== 'https://utteranc.es') return;
        if (localStorage.getItem('theme') === 'dark') {
            const message = {
                type: 'set-theme',
                theme: 'photon-dark'
            };
            const utterances = document.querySelector('iframe').contentWindow;
            utterances.postMessage(message, 'https://utteranc.es');
        }
    });
</script>

<!-- Register service worker -->
<script>
    window.addEventListener("load", () => {
        if ("serviceWorker" in navigator) {
            navigator.serviceWorker.register("service-worker.js");
        }
    });
</script>

<!-- Matomo -->
<script>
    var _paq = window._paq = window._paq || [];
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function () {
        var u = "//hexandcubenetwork.tk/matomo/";
        _paq.push(['setTrackerUrl', u + 'matomo.php']);
        _paq.push(['setSiteId', '1']);
        var d = document,
            g = d.createElement('script'),
            s = d.getElementsByTagName('script')[0];
        g.async = true;
        g.src = u + 'matomo.js';
        s.parentNode.insertBefore(g, s);
    })();
</script>
<!-- End Matomo Code -->
