<!-- Theme switcher -->
<script>
    function setTheme(themeName) {
        localStorage.setItem('theme', themeName);
        document.documentElement.className = themeName;
        themeToggle = document.getElementById("theme-toggle-label");
        if (themeName === 'dark') {
            themeToggle.innerHTML = '<i class="fa-solid fa-sun"></i>'
        } else themeToggle.innerHTML = '<i class="fa-solid fa-moon"></i>'
    }

    function toggleTheme() {
        if (localStorage.getItem('theme') === 'light') {
            setTheme('dark');
        } else {
            setTheme('light');
        }
    }

    // Automaticly apply theme on load
    window.onload = () => {
        if (localStorage.getItem('theme') === 'dark') {
            setTheme('dark');
        } else if (localStorage.getItem('theme') === 'light') {
            setTheme('light');
        } else if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
            setTheme('dark');
        } else {
            setTheme('light');
        }
    }

    // Set the theme of the Utterances comment widget
    addEventListener('message', event => {
        if (event.origin !== 'https://utteranc.es') return;
        if (localStorage.getItem('theme') === 'dark') {
            const message = {
                type: 'set-theme',
                theme: 'photon-dark'
            };
            const utterances = document.querySelector('iframe').contentWindow;
            utterances.postMessage(message, 'https://utteranc.es');
        }
    });
</script>

<script>
   // Status Page Widget
    fetch('https://status.hexandcube.eu.org/summary.json')
        .then(data => data.json())
        .then(data => {
            const statusCircle = document.getElementById('status-widget-circle');
            const statusText = document.getElementById('status-widget-text');
            switch (data.page.status) {
                case 'UP':
                    statusCircle.classList.add('bg-green-500');
                    statusText.innerText = 'All systems operational';
                    break;
                case 'HASISSUES':
                    statusCircle.classList.add('bg-red-500');
                    statusText.innerText = 'Partial outage';
                    break;
                case 'UNDERMAINTENANCE':
                    statusCircle.classList.add('bg-blue-500');
                    statusText.innerText = 'Under Maintenance';
                    break;
                default:
                    statusText.innerText = 'Status check failed!';
                    console.error('Status Widget: Status check failed!');
                    break;
            }
        });
</script>

<!-- Register service worker -->
<script>
    window.addEventListener("load", () => {
        if ("serviceWorker" in navigator) {
            navigator.serviceWorker.register("service-worker.js");
        }
    });
</script>

