<script>
   // Status Page Widget
    fetch('https://wdf91pvxlsbj.statuspage.io/api/v2/summary.json')
        .then(data => data.json())
        .then(data => {
            const statusCircle = document.getElementById('status-widget-circle');
            const statusText = document.getElementById('status-widget-text');
            const statusWidget = document.getElementById('status-widget');
            switch (data.status.indicator) {
                case 'none':
                    statusCircle.classList.add('bg-green-500');
                    statusText.innerText = 'All systems operational';
                    break;
                case 'minor':
                    statusCircle.classList.add('bg-yellow-500');
                    statusText.innerText = 'Experiencing issues';
                    break;
                case 'major':
                    statusCircle.classList.add('bg-red-500');
                    statusText.innerText = 'Service Outage';
                    break;
                case 'maintenance':
                    statusCircle.classList.add('bg-blue-500');
                    statusText.innerText = 'Under Maintenance';
                    break;
                default:
                    statusCircle.classList.add('bg-gray-500');
    
                    statusCircle.classList.remove('animate-pulse');
                    statusText.innerText = 'Status check failed!';
                    console.error('Status Widget: Status check failed!');
                    break;
            }
        });
</script>

<!-- Register service worker -->
<script>
    window.addEventListener("load", () => {
        if ("serviceWorker" in navigator) {
            navigator.serviceWorker.register("service-worker.js");
        }
    });
</script>

<script>
    window.onload = function() {
        // Check the theme again after the page is loaded, to make sure that the 
        // theme switcher icon is correctly set.
        checkTheme();
    }
</script>

<script data-host="https://microanalytics.io" data-dnt="false" src="https://microanalytics.io/js/script.js"
    id="ZwSg9rf6GA" async defer></script>