{{ range .Site.Data.profiles }}
    <div class="grid grid-cols-2 py-2 border-b-2 border-solid border-light-border dark:border-dark-border">
        <div>
            <b>{{ .name }}</b>
        </div>
        <div>
            <a {{ if .clipboard }}id="{{ .name }}_clipcp" onClick="copyToClipboard('{{ .name }}_clipcp')" class="cursor-copy" title="Click to copy"{{ else }}
                href='{{ .link }}' {{ end }} rel="me">{{ .username }}</a>
        </div>
    </div>
{{ end }}

<script>
    function copyToClipboard(element) {
        let el = document.getElementById(element);
        let orgText = el.innerText;
        navigator.clipboard.writeText(orgText);
        el.innerText = "Copied to Clipboard!";
        setTimeout(function() {
            el.innerText = orgText;
        }, 2000);
    }
</script>